body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 10vh;
    background: linear-gradient(90deg, rgba(151,145,245,1) 0%, rgba(210,210,237,1) 35%, rgba(250,250,250,1) 100%);
}


#avatar {
    position: relative;
    padding: 20px;
}

.fotoPerfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 250px;
    margin-top: 19%;
}

img.fotoPerfil {
    border-radius: 50%;
}

.nome {
    color: #124265;
    padding: 20px 20px 7px 20px;
    text-align: center;
    font-weight: bolder;
    font-family:  Georgia;
    margin: 0px;
}

.descricao {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: -7px;
}

.icon{
    text-decoration: none;
    color: #124265;
}

.card{
    color:  #124265;
    margin: auto;
    width: 80%;
    margin-top: 7%;
}


.eduTitulo{
    color: #124265;
    padding-bottom: 30px;
}


.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.corpoSkill{
    margin: auto;
    width: 80%;
    color:#124265;
    font-weight: bolder;
    margin-top: 5%;
   
}
.habTitulo{
    margin-top: 25px;
}

.container {
    width: 100%;
    background-color: #ddd;
   
  }
  
  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    
  }
  
  .html {width: 90%; background-color: #727cf5;}
  .css {width: 60%; background-color: #727cf5;}
  .js {width: 40%; background-color: #727cf5;}
  .java {width: 90%; background-color: #727cf5;}
  .msql {width: 80%; background-color: #727cf5;}

  footer{
      margin-top: 5%;
  }